
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body{
  min-height: 100% !important;
  width : 100%;
  margin : 0px;
  padding : 0px;
}

*{
  font-family: 'Raleway', sans-serif;
}

body{
  #root{
    position:relative;
    height: 100%;
    width: 100%;
    padding: 30px 0px 0px 0px;

    .photos{
      .loading-spinner{
        width: 40px;
        margin: 20px auto;
      }

      .photo{
        img{
          width: 100%;
        }
      }
    }
  }
}